@{
    ViewBag.Title = "Home Page";
}
@model EverydayPower.Models.Get_Post_List


    <div class="row container-top text-center" >
    </div>

    <div class="outbox">

    </div>
    <div >
        <div class="container"></div>
    </div>
        <script>

 function unique(category) {
    return $.grep(category, function(el, index) {
        return index == $.inArray(el, category);
    });
}

    $(document).ready(function () {

        $('#btnSearch').click(function () {
       
            $('.container-top').empty();
            var searchStr = $('#txtSearchBox').val();
            var obj = {
                searchStr: searchStr
            }
            var data = JSON.stringify(obj);
            $.ajax({
                url: '@Url.Action("Search","Home")',
                data: data,
                contentType: 'application/json',
                method: 'post',
                dataType: 'json',
                processData: false,
                async: false,
                success: function (data) {
                    createHtmlLatestItem(data.list);
                },
                error: function (error) {

                    console.log(error);
                }
            });
        });

        $.ajax({
                url: '/Custom_Post/GetAll?pageIndex=0',
                method: 'get',
                contentType: "application/json",
                dataType:"json",
                processData: false,
                async:true,
            success: function (data) {
                
                    createHtmlLatestItem(data);
                },
            error: function (error) {
                console.log(error);
                }
            });

        $('.carousel').carousel();
      
         $('#175Beauty').click(function () {

            var link = '@Url.Action("Index", "Custom_Post")';
            window.location.assign(link);
            });
    });

            var handleClick = () => {

            }

 var createHtmlLatestItem = (obj) => {
        var data = obj.list;
        var id = data[0].seoUrl;

        var html = `
        <div class="col-md-12" style="height:400px;" onclick="location.href='/Quotes/`+id+`';"  >
            <img src='' class="main-image"  />
        </div>
        <div class=" col-md-12 main-text " style="  position:absolute; background:black; opacity:0.6;">
            `+data[0].postUrl+`
            <p>
                Life can feel impossible sometimes. Discover what to do when you feel like giving up. While giving up seems to...
            </p>
        </div>


`;
        $('.container-top').append(html);
        $('.container-top img').attr('src', '../../UploadImage/' + data[0].postIconImage +  '');
        var frameHtml = '<div class="row">';
        var count = 0;
     $('.container').empty();
        var category = [];
        for (var i = 0; i < obj.postCountList.length; i++) {
            category[i] = obj.postCountList[i].category;
        }

       
     debugger
     
     $.each(data, function (index, value) {
         
            if ( count < 4) {
                frameHtml = frameHtml + createSubContent(value ,true)
                count++;
                }

     });
     debugger
     frameHtml = frameHtml + '</div>'
        for (var i = 0; i < category.length; i++) {
            frameHtml = frameHtml + `<div class="row">
            <div class="col-md-4 line"></div>
            <div class="col-md-4 box text-center">
                <span>
                    `+ category[i].toUpperCase() +`
                </span>
            </div>
            <div class="col-md-4 line"></div>
        </div>`;
            count = 0;
            var subhtml = '<div class="row">';
            debugger
            for (var j = 0; j < data.length; j++) {
                if (data[j].category === category[i]) {
           
                    if (count<2)
                        subhtml = subhtml + createMainSubContent(category[i], data[j]) + `</div>`;
                    else
                        subhtml = subhtml + createSubContent(data[j]) ;
                        count++;

                }

            }
            subhtml = subhtml + '</div>';
      
            frameHtml = frameHtml + subhtml;
     }
     //$('.outbox').append(frameHtml);
     //$('.section-posts').append(frameHtml);
     $('.container').append(frameHtml);

 }

    var createMainSubContent = (cat ,data ,count) => {
        var id = data.seoUrl;
        return `<div class="col-md-6 sub-container" style="margin-bottom:3em;"  onclick="location.href='/Quotes/`+id+`';">
                <img src="../../UploadImage/`+ data.postIconImage +`" class="img-fluid" id="175Beauty" />
                <div class="bottom-left">
                    <p>
                       
                    </p>
                    <span>
                        `+ data.postUrl +`
                    </span>
                </div>`;
    }
var createSubContent = (value, showCategory) => {
                
                var id = value.seoUrl;
                var category = '';
                if (showCategory == true) {
                    category=value.category
                }
            
              return `<div class="col-md-3 sub-container"  onclick="location.href='/Quotes/`+id+`';">
                <img width="300" height="200" src="../../UploadImage/` + value.postIconImage + `" />
                <div class="info">
                    <p>
                        `+ category.toUpperCase() +`
                    </p>
                    <span>
                        `+ value.postUrl +`
                    </span>
                </div>
            </div>

           `;
    }
        </script>
