@{
    ViewBag.Title = "Home Page";
}
@model EverydayPower.Models.Get_Post_List


    <div class="container-top text-center row" >
    </div>

    <div class="outbox">

    </div>
    <div >
        <div class="container"></div>
    </div>
        <script>

 function unique(category) {
    return $.grep(category, function(el, index) {
        return index == $.inArray(el, category);
    });
}

            $(document).ready(function () {
               
        $('#btnSearch').click(function () {
       
            $('.container-top').empty();
            var searchStr = $('#txtSearchBox').val();
            var obj = {
                searchStr: searchStr
            }
            var data = JSON.stringify(obj);
            $.ajax({
                url: '@Url.Action("Search","Home")',
                data: data,
                contentType: 'application/json',
                method: 'post',
                dataType: 'json',
                processData: false,
                async: false,
                success: function (data) {
                    createHtmlLatestItem(data);
                },
                error: function (error) {

                    console.log(error);
                }
            });
        });

        $.ajax({
                url: '/Custom_Post/GetAll?pageIndex=0',
                method: 'get',
                contentType: "application/json",
                dataType:"json",
                processData: false,
                async:true,
            success: function (data) {
                createHtmlLatestItem(data);
                $('.pageloader').addClass('hide');
                $('.company-div').addClass('navbar-fixed-top');
                },
            error: function (error) {
                console.log(error);
                }
            });

        $('.carousel').carousel();
      
        

    });

            var handleClick = () => {

            }

 var createHtmlLatestItem = (obj) => {
        var data = obj.list;
     var id = data[0].seoUrl;
     var category_name = data[0].category;
        var html = `
        <div class="col-md-12" style="height:400px;" onclick="location.href='/Quotes/`+category_name+`/`+id+`';"  >
            <img src='' class="main-image"  />
        </div>
        <div class=" col-md-12 main-text " style="  position:absolute; background:black; opacity:0.6;">
            `+data[0].postUrl+`
            <p>
                Life can feel impossible sometimes. Discover what to do when you feel like giving up. While giving up seems to...
            </p>
        </div>


`;
        $('.container-top').append(html);
        $('.container-top img').attr('src', '../../UploadImage/' + data[0].postIconImage +  '');
        var frameHtml = '<div class="row cust">';
        var count = 0;
     $('.container').empty();
        var category = [];
        for (var i = 0; i < obj.postCountList.length; i++) {
            category[i] = obj.postCountList[i].category;
        }

       
  
     
     $.each(data, function (index, value) {
         
         if (count < 4) {
             var cardId = `card-latest-` + count ;
                frameHtml = frameHtml + createSubContent(value ,true ,cardId)
                count++;
                }

     });
     frameHtml = frameHtml + '</div>'
        for (var i = 0; i < category.length; i++) {
            frameHtml = frameHtml + `<div class="row quotes">
            <div class="col-md-4 line"></div>
            <div class="col-md-4 box text-center">
                <span>
                    `+ category[i].toUpperCase() +`
                </span>
            </div>
            <div class="col-md-4 line"></div>
        </div>`;
            count = 0;
            var subhtml = '<div class="row cust">';
        
            for (var j = 0; j < data.length; j++) {
                if (data[j].category === category[i]) {
                    var cardId = `card-` + category[i] + `-` + count;
                    if (count < 2) {
                        subhtml = subhtml + createMainSubContent(category[i], data[j]) + `</div>`;
                    }
                    else if (count % 4 === 2) {
                        if (count === 9) {

                            subhtml = subhtml + `<div class="clearfix"></div></div>`;
                        }
                        else {
                            subhtml = subhtml + `</div> <div class="row cust">`;
                            subhtml = subhtml + createSubContent(data[j] ,false ,cardId);
                        }
                       
                    }
                    else
                        subhtml = subhtml + createSubContent(data[j] ,false ,cardId);
                        count++;

                }

            }
        var noOfPages=obj.postCountList[i].noOfPosts/10;
            subhtml = subhtml + '</div>';
            //subhtml = subhtml + `  <nav aria-label="Page navigation example">
            //            <ul class="pagination">`+
            //    //<li class="page-item"><a class="page-link" href="#">Previous</a></li>
            //    //<li class="page-item"><a class="page-link" href="#">1</a></li>
            //    //<li class="page-item"><a class="page-link" href="#">2</a></li>
            //    //<li class="page-item"><a class="page-link" href="#">3</a></li>
            //    //<li class="page-item"><a class="page-link" href="#">Next</a></li>
            //    createPageItems(noOfPages);
            //            +`</ul>
            //        </nav>`;
            frameHtml = frameHtml + subhtml;
     }
     //$('.outbox').append(frameHtml);
     //$('.section-posts').append(frameHtml);
     $('.container').append(frameHtml);

            }

            var createPageItems = (noOfPages) => {
                var html = '';
                for (i = 0; i < noOfPages; i++) {
                    html = html+'<li class="page-item"><a class="page-link" href="#">'+i+'</a></li>';
                }
 }

    var createMainSubContent = (cat ,data ,count) => {
        var id = data.seoUrl;
        return `<div class="cust-col-6 col-md-6 sub-container"   onclick="location.href='/Quotes/` + data.category + `/` + id +`';">
                <img src="../../UploadImage/`+ data.postIconImage +`" class="img-fluid" id="175Beauty" />
                <div class="bottom-left">
                    
                    <span>
                        `+ data.postUrl +`
                    </span>
                </div>`;
    }
var createSubContent = (value, showCategory ,containerid) => {
                
                var id = value.seoUrl;
                var category = '';
                if (showCategory == true) {
                    category=value.category
    }
    //var html=`<div class="col-md-3 sub-container"  onclick="location.href='/Quotes/`+value.category+`/`+id+`';">
    //            <img width="300" height="200" src="../../UploadImage/` + value.postIconImage + `" />
    //            <div class="info">
    //                <p>
    //                    `+ category.toUpperCase() +`
    //                </p>
    //                <span>
    //                    `+ value.postUrl +`
    //                </span>
    //            </div>
    //        </div>

    //       `;
    
    var html = `<div class="card col-md-3 text-center sub-container cust-col-3" style="padding:0px;" >
  <img class="card-img-top" width="291" height="200" src="../../UploadImage/` + value.postIconImage + `" onclick="location.href='/Quotes/` + value.category + `/` + id + `';">
  <div class="card-body info" id=`+ containerid + ` onclick="location.href='/Quotes/` + value.category + `/` + id +`';">
    <p class="card-title">`+ category.toUpperCase() +`</p>
    <span class="card-text">`+ value.postUrl +`<div id="card-text-end" style="display:block;"></div></span>
  </div>
<div style="border: 1px solid lightgrey; border-top:none;" onclick="scrollDiv(event)" target="#`+ containerid +`" >
<a class="glyphicon glyphicon-chevron-down" href="#card-text-end"  >
</a>
</div>
</div>`;
    return html;
            }

            $(document).ready(function(){
  // Add smooth scrolling to all links
            
            });

        </script>
