.preview-head {
    text-align:center;
    margin-top:30px;
    font-size:24px;

}
.container-content{
    min-height:10em;
}

    .preview-head > span {
        padding: 10px 20px 10px 20px;
        border:1px solid black;
        box-shadow:4px 6px;
    }

    .container-save>input {
        margin-top: 20px;
        height: 40px;
        width: 200px;
    }

#upldImagePreview > img{
    height:200px;
    width:250px;
}

.custom_post_main_div {
    padding-top: 30px;
}

.custom_post_main_div label{
    margin-top:2em;
}

.custom_btns {
    height: 50px;
    width: 130px;
    font-weight: 900;
    background-color: forestgreen;
    color: white;
    border: none;
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor:pointer;
}