
*{
    padding:0px;
}

.container-fluid{
    padding:0px;
}
.container-top {
    opacity: 0.9;
    height: auto;
    width: 100%;
    color: white;
    font-size: 40px;
    cursor:pointer;
}

    .container-top::after ,.container-top::before {
        display: table;
        content: " ";
    }

    .container-top::after{
        clear:both;
        clear:both;
    }

    .main-image {
        width: 100%;
        height: 400px;
    }
    .container-top > .row {
        padding: 0px;
        margin: 0;
    }

.container-top>.col-md-12{
    padding:0px;
}

p{
    font-size:16px;
    padding-bottom:15px;
}


/* Bottom left text */
    .bottom-left {
    position: absolute;
    bottom: 1em;
    background-color:black;
    opacity:0.8;
    color:white;
    padding-left:5px;
}



.sub-container {
    /*height: 300px;
    padding: 0px;
    border: 1px solid white;
    position: relative;
    text-align: center;
    color: white;*/
    /*-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.31);*/
    margin-bottom: 10px;
    padding:0px !important;
    margin-top:2em;
}

.cust{
    margin-left:8% !important;
    cursor:pointer;
}

.cust .col-md-3 {
    margin-right: 17px;
    width: 22% ;
}

.cust .col-md-6 {
    width: 45%;
    margin-right: 25px;
}
    .sub-container > img {
        height: 250px;
        width: 100%;
        vertical-align: auto;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.31);
    }
.info>p {
    font-size: 20px;
    color: #009de6;
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    font-weight:800;
}
.info>span{
    font-size:20px;
    color:black;
    padding:10px;
    font-weight:600;
}

.container{
    margin-top:9em;
    margin-right:1em;
}

.line{
    border-top:1px solid black;
    height:1px;
    width:40%;
    margin-top:5em;
    margin-bottom:15px;
    display:inline-block
}
.box {
    background-color: #009de6;
    padding-top: 4px;
    height: 2em;
    width: auto;
    margin-top: 4em;
    margin-bottom: 15px;
    color: white;
    display: inline-block;
    font-weight: 900;
}

.bottom-left p {
    font-size: 20px;
    color: #009de6;
    text-align: left;
}

.bottom-left>span {
    font-size: 25px;
    text-align: left;
    display:block;
}

.navbar-nav {
    margin: 0px;
    padding: 0px;
}

.main-text {
    position: absolute;
    
    top: 47%;
}
.side-link {
    font-size: 17px;
}

.side-link > li {
    border-bottom: 1px solid #e6e6ff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.side-link > li > a:hover {

    text-decoration: none;

    color: #009de6;

}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    /*padding-right: 15px;
        padding-left: 15px;*/
}



@media only screen and (max-width: 600px) {
    .navbar-collapse {
        display: none;
    }

    .main-image {
        width: 100%;
        
    }

    .main-text {
        width: 100%;
        top: 27%;
        font-size: x-large;
    }

    .line{
        display:none;
    }

    .quotes{
        text-align:center;
    }

    .cust .col-md-6 {
        width: 100% !important;
    }

    .cust .col-md-3 {
        width: 100% !important;
    }
}