
@{
    ViewBag.Title = "whenyoufeellikegivingup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h1>7 Things To Do When You Feel Like Giving Up</h1>
            @*<div>
                    <img src="https://picsum.photos/id/137/300/200" alt="Avatar" class="avatar">
                </div>
                <span class="author-info">

                </span>*@

            <div class="content-container">
                <div class="card" style="width: 18rem; box-shadow: 6px 4px #E8E8E8; border:0px; ">
                    <img src="https://picsum.photos/id/137/180/150" alt="Avatar" class="">
                    <div class="card-body text-center">
                        <h5 class="card-title">By Dr. Richard Toney</h5>
                        <p class="card-text">Published On @DateTime.UtcNow.ToString("dddd, dd MMMM yyyy")</p>
                    </div>
                </div>

                <div class="writing-area indent">
                    <p style="display:inline-block;">
                        Life can feel impossible sometimes. Discover what to do when you feel like giving up.
                    </p>
                    <p style="display:inline-block;">
                        While giving up seems to be the easy thing to do, it is in fact, easier to continue on the path to your goals. Many people have a tendency to give up because they don’t have direction. It is possible that they lack a plan as well.
                    </p>

                </div>
                <div class="writing-area no-indent">
                    <p style="display:inline-block;">
                        While there may be a myriad of reasons as to why a person gives up, I would like to discuss seven things to help you go forward without the fear, anxiety and worry of NOT completing your goals.
                    </p>
                    <p style="display:inline-block;">
                        You must remember that your goals are very important. You were the one who thought of them and wanted to complete them. Thus, you must resist the urge to simply abandon them.
                    </p>
                    <h3>
                        Here are seven things to do when you feel like giving up
                    </h3>
                    <h3>
                        1. Start with a Plan
                    </h3>
                    <p style="display:inline-block; text-indent:50px;">
                        Planning is extremely important when you are setting out to complete a goal. During this time, you will have an idea of what you want and how you will go about completing your goals. (Here is more on creating a 5 year plan.)
                        <span class="emphasis">
                            Divide tasks into manageable steps. This will also help you gauge your progress. When you have created measurable steps, it’s easier to see how far away or how close you are to your dreams.
                        </span>
                        The ultimate end result should ALWAYS be the completion of the goal. There are times when we worry about stuff that makes us angry or frustrated, instead of the task at hand. Understand that there are small obstacles that will come your way – but you have to continue to move forward.
                    </p>
                    <div class="card" style="width: 50em;box-shadow: 6px 4px #E8E8E8; border:0px; ">
                        <div class="card-body text-left">
                            <div style="width:10px; height:100%;display:inline-block; background-color:hotpink;"></div>
                            <h5 class="card-title" style="display:inline-block;">READ MORE : </h5>
                            <a class="card-text">Good News of the Week: September 2 – 6, 2019</a>
                        </div>
                    </div>
                    <h3>
                        2. Don’t Sweat the Small Stuff
                    </h3>
                    <img src="https://picsum.photos/id/834/1000/600" />

                    <p style="display:inline-block; text-indent:50px;">
                        We must remember that “life” happens – and it will also continue to happen. You need to realize that you can’t be worried about every single negative thing that happens. Know that you have everything inside you that you need in order to make your life better.
                        <span class="emphasis">
                            When you focus on what you have and NOT on things you don’t, you’ll feel a sense of gratitude and appreciation. Thus, the universe can provide you with more of what you want. So don’t sweat the small stuff.
                        </span>
                        When you lose focus on the goal and start sweating the small stuff, this is when you feel like giving up. So stay the course. This is accomplished by not worrying or being overly anxious about things that may come up while working on your goals.
                    </p>

                    <h3>
                        3. Surround Yourself with Positive People
                    </h3>
                    <img src="https://picsum.photos/id/342/1000/600" />

                    <p style="display:inline-block; text-indent:50px;">
                        Being around positive people will help jump-start your activity in a way that you will continue on the path of success. Positivity is contagious. It will encourage you to keep going when you feel like giving up. Positive people will bring life to your goals, plans, and your very existence.
                        <span class="emphasis">
                            Having such amazing people in your corner will not only encourage you, but they will also help you see that other people genuinely believe in you. This will help you realize how valuable you really are.
                        </span>
                        Also, positive people usually encourage others to such a degree that they complete their goals mainly because they don’t want to let the “positive person” down.
                    </p>
                    <div class="card" style="width: 50em;box-shadow: 6px 4px #E8E8E8; border:0px; ">
                        <div class="card-body text-left">
                            <div style="width:10px; height:100%;display:inline-block; background-color:hotpink;"></div>
                            <h5 class="card-title" style="display:inline-block;">READ MORE : </h5>
                            <a class="card-text">5 Delegation Skills That Will Help You Become More Successful</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3 line"></div>
                <div class="col-md-5 box text-center">
                    <span>
                       Latest Articles
                    </span>
                </div>
                <div class="col-md-3 line"></div>
            </div>
            <ul class="side-link">
                <li>
                    <a>How To Become More Goal-Oriented In Your Life</a>
                </li>
                <li>
                    <a>60 Mistake Quotes To Help You Bounce Back</a>
                </li>
                <li>
                    <a>70 Adversity Quotes Honoring Your Ability to Overcome Anything</a>
                </li>
                <li>
                    <a>50 Tom Brady Quotes Celebrating a Dynasty</a>
                </li>
                <li>
                    <a>Why I Don’t Believe In Failure…</a>
                </li>
                <li>
                    <a>Success Is Not About What Other People Think</a>
                </li>
                <li>
                    <a>200 Funny Inspirational Quotes Celebrating Life, Love & Struggles</a>
                </li>
                <li>
                    <a>200 Inspirational Quotes for Kids About School, Life, and Success</a>
                </li>

            </ul>
        </div>
    </div>

</div>