@model EverydayPower.Models.Get_Post_List
@{
    string seodesc = "";
    if (Model.list!=null)
    {
        seodesc = Model.list[0].seoDescription.ToString();
    }
    ViewBag.SeoDesc=seodesc;
    ViewBag.Title=Model.list[0].seoTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid show-post">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">


                @foreach (var m in Model.list)
                {
                    if (!string.IsNullOrEmpty(ViewBag.User))
                    {
                        <input type="button" id="btnDelete" name="DeletePost" value="Delete" class="custom_btns" style="height:50px; width:130px; font-weight:900; background-color:forestgreen; color:white; border:none;float:right; margin-left:10px; margin-bottom:20px;" onclick="location.href='Delete/@m.seoUrl'" />
                        <input type="button" id="btnEdit" name="EditPost" value="Edit" class="custom_btns" style="height:50px; width:130px; font-weight:900; background-color:forestgreen; color:white; border:none; float:right; margin-left:10px; margin-bottom:20px;" onclick="location.href='Edit/@m.seoUrl'" />
                        <div class="clearfix"></div>

                    }
                    <h1 class="text-center post-title">@m.postUrl</h1>
                    @(new HtmlString(m.postContent))

                  
                }

            </div>
                <div class="col-md-3">
                    <div class="row quotes">
                        <div class="col-md-2 line"></div>
                        <div class="col-md-7 box text-center">
                            <span>
                                Latest Articles
                            </span>
                        </div>
                        <div class="col-md-2 line"></div>
                    </div>
                    <ul class="side-link">
                    </ul>
                </div>
          

        </div>
        </div>

<script>
    $(document).ready(function () {
                $.ajax({
                url: '/side-links/0/6',
                method: 'get',
                contentType: "application/json",
                dataType:"json",
                processData: false,
                async:false,
                success: function (data) {
                    console.log(data);
                    $('.side-link').empty();
                    var listHtml = '';
                    $.each(data.list, (index, element) => {
                        debugger
                        listHtml = listHtml + ` <li>
                            <a href="\\Quotes\\`+ element.category + `\\` + element.seoUrl + `">` + element.postUrl +`</a>
                        </li>`;
                    });

                    $('.side-link').append(listHtml);
                },
                error: function () {
                    alert("Error   " + apidomainurl + 'UpdateUsers');
                }
            });
    });
</script>
